<!DOCTYPE html>
<html lang="en">
{% if page.tocversion %}
    {% capture doc_path %}
        {% if site.data[page.tocversion].toc[0] %}
            {% for item in site.data[page.tocversion].toc %}
                {% if item.subfolderitems[0] %}
                    {% for entry in item.subfolderitems %}
                        {% if entry.url == page.url %} {{ item.title }} &rarr; {{ entry.page }} {% endif %}
                        {% if entry.subsubfolderitems[0] %}
                            {% for subentry in entry.subsubfolderitems %}
                                {% if subentry.url == page.url %} {{ item.title }} &rarr; {{ entry.page }} &rarr; {{ subentry.page }} {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endcapture %}
    {% assign doc_path = doc_path | strip %}
    {% capture table_of_contents %}
        {% if site.data[page.tocversion].toc[0] %}
            {% for item in site.data[page.tocversion].toc %}
                <h2>{{ item.title }}</h2>
                {% if item.subfolderitems[0] %}
                    <ul>
                    {% for entry in item.subfolderitems %}
                            {% assign urlstart = entry.url | slice: 0, 4 %}
                            <li {% if entry.url == page.url %}class="active"{% endif %}><a href="{% if urlstart != "http" %}{{ site.baseurl }}{% endif %}{{ entry.url }}">{{ entry.page }}</a></li>
                            {% if entry.subsubfolderitems[0] %}
                              <ul>
                              {% for subentry in entry.subsubfolderitems %}
                                    {% assign urlstart = subentry.url | slice: 0, 4 %}
                                    <li class="{% if subentry.url == page.url %}active{% endif %}"><a href="{% if urlstart != "http" %}{{ site.baseurl }}{% endif %}{{ subentry.url }}">{{ subentry.page }}</a></li>
                              {% endfor %}
                              </ul>
                            {% endif %}
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endcapture %}
{% endif %}
{% capture style_sheet %}{% if page.style %}{{ page.style }}{% else %}main{% endif %}{% endcapture %}
<head>
  <meta charset="utf-8">
  <title>{% if site.xdmod_module_name %}{{site.xdmod_module_name}} {{doc_path}}{% else %}Open XDMoD{% if page.title != 'Open XDMoD' %} - {{ page.title }}{% endif %}{% endif %}</title>
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}{{ site.theme_subdir }}/assets/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}{{ site.theme_subdir }}/assets/css/{{style_sheet}}.css" />
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44300156-3');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <div id="page-container">
    <div id="page-header">
      <a href="http://open.xdmod.org"><img src="{{ site.baseurl }}{{ site.theme_subdir }}/assets/images/xdmod_logo.png" alt="XDMoD" /></a>
      <span class="maintitle">{% if site.xdmod_module_name %}{{ site.xdmod_module_name }} Module{% else %}Open XDMoD{% endif %} {{page.version}}</span>
    </div>
    {% if page.is_dev %}
    <a href="{{ site.github_url }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    {% endif %}
    <div id="page-body">
      <div class="clear"></div>
      <div id="page-menu">
          {% if table_of_contents %}<div class="page-menu-toc">{{ table_of_contents }}</div>{% endif %}
          {% if site.version_list %}
            {% if site.latest_version == page.version %}
                <h2>Older versions</h2>
            {% else %}
                <h2>Other versions</h2>
            {% endif %}
            <ul>
            {% for item in site.version_list %}
                {% if item != page.version %}
                    <li><a href="{{ site.baseurl }}/{{ item }}">{{ item }}
                        {% if item == site.latest_version %}
                        (latest)
                        {% endif %}
                    </a></li>
                {% endif %}
            {% endfor %}
            </ul>
         {% endif %}
        {% if page.menu_markdown %}
            {% capture menu_markdown %}{% include {{page.menu_markdown}} %}{% endcapture %}
            {{ menu_markdown | markdownify }}
        {% endif %}
      </div>
      <div id="page-content">
        {% if doc_path %} <h1>{{ doc_path }}</h1> {% else %} <h1>{{ page.title }}</h1> {% endif %}
        {{ content }}
      </div>
      <div class="clear"></div>
    </div>
    <div id="page-footer">
      <a href="https://www.buffalo.edu/ccr" target="_blank"><img src="{{ site.baseurl }}{{ site.theme_subdir }}/assets/images/ccr_logo.png" alt="Center for Computational Research"/></a>
    </div>
  </div>
</body>
</html>
