*.pyc
/1.xml
/inca.xml
/nohup.out
/out
/build
/cfg
/comptasks
/data
/.cproject
/.project
/.pydevproject
/build
/dist
/akrr.egg-info
/MANIFEST
/etc
/log
\#*
.#*
/bin/akrr.py
/tests/bin/akrrregtest.py
/tests/bin/akrrunittest.py
/prev_root
/.idea
/docker/centos_slurm_single_host_wlm/RPMS
/.coverage
/.pytest_cache
/shippable
/tests/.coverage
/tests/regtest1/.crontmp
etc_old
log_old
venv
