docs/* linguist-documentation
*.md linguist-documentation
*.MD linguist-documentation
*.conf linguist-language=python
*.html linguist-generated
*.nb.html linguist-generated
akrr/appker_repo/inputs/* linguist-vendored

